<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>ReadSocial Demo Authentication Options</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>rs_use_appkey</string>
			<key>Title</key>
			<string>Use Key Authentication</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>App Identifier Key</string>
			<key>DefaultValue</key>
			<string>fSxua20klUTHGvq0TPHF8CVHtFI6SVTwJepRU6bl</string>
			<key>Key</key>
			<string>rs_app_identifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>App Secret Key</string>
			<key>DefaultValue</key>
			<string>8iwQBJDIfslTRhs8wR1DJ3pRNpcviq53BLqTm5dO</string>
			<key>Key</key>
			<string>rs_app_secret</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>ID</string>
			<key>Key</key>
			<string>rs_user_id</string>
			<key>DefaultValue</key>
			<string>9999</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Name</string>
			<key>Key</key>
			<string>rs_user_name</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Domain</string>
			<key>Key</key>
			<string>rs_user_domain</string>
			<key>DefaultValue</key>
			<string>readsocial.net</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Image URL</string>
			<key>Key</key>
			<string>rs_user_image</string>
            <key>DefaultValue</key>
            <string>https://www.readsocial.net/images/demo-avatar.png</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
